In [2]:
import numpy as np
import pandas as pd

In [2]:
data = pd.Series([1,2,3,4,5])

In [3]:
data

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
data.values

array([1, 2, 3, 4, 5])

In [5]:
data.index

RangeIndex(start=0, stop=5, step=1)

In [6]:
## インデックスからデータにアクセスする

In [7]:
data[0]

1

In [8]:
data[1:3]

1    2
2    3
dtype: int64

## インデックスを文字にする

In [9]:
data = pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])

In [11]:
data

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [12]:
data['c']

3

In [3]:
data = pd.Series(dict(a=1, b=2, c=3, d=4, e=5))

In [4]:
data

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [5]:
data = pd.Series({'a':1, 'b':2, 'c':3, 'd':4, 'e':5})

In [6]:
data['c']

3

In [7]:
data['b':'d']

b    2
c    3
d    4
dtype: int64

In [8]:
series_1 = pd.Series(dict(a=1, b=2, c=3, d=4, e=5))

In [9]:
series_2 = pd.Series(dict(a=11, b=12, c=13, d=14, e=15))

In [10]:
df = pd.DataFrame({'column_1':series_1, 'column_2':series_2})

In [11]:
df

   column_1  column_2
a         1        11
b         2        12
c         3        13
d         4        14
e         5        15

In [12]:
df.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [13]:
df.columns

Index(['column_1', 'column_2'], dtype='object')

In [22]:
df['column_1']

a    1
b    2
c    3
d    4
e    5
Name: column_1, dtype: int64

In [27]:
df['a']

KeyError: 'a'

In [28]:
df['column_1']['a']

1

In [15]:
df2 = pd.DataFrame([[1,2],[11,12], [21, 22]], index=['a', 'b', 'c'], columns=['col_1', 'col_2'])

In [16]:
df2

   col_1  col_2
a      1      2
b     11     12
c     21     22

In [29]:
df.at['a', 'column_1']

1

In [30]:
df.at['b', 'column_2'] = 100

In [31]:
df

   column_1  column_2
a         1        11
b         2       100
c         3        13
d         4        14
e         5        15

In [32]:
df.iat[2, 0]

3

In [33]:
df.iat[3, 1] = 1000

In [34]:
df

   column_1  column_2
a         1        11
b         2       100
c         3        13
d         4      1000
e         5        15

In [37]:
df.loc['b':'d', 'column_1']

b    2
c    3
d    4
Name: column_1, dtype: int64

In [41]:
df.loc['d':'e', 'column_1':'column_2'] = [[0.1, 0.2], [0.3, 0.4]]

In [42]:
df

  column_1 column_2
a        1       11
b        2      100
c        3       13
d      0.1      0.2
e      0.3      0.4

In [43]:
df.iloc[[1,3], [0, 1]]

  column_1 column_2
b        2      100
d      0.1      0.2

In [44]:
df.iloc[[2,4],[0,1]] = [[1001,1002],[1003,1004]]

In [45]:
df

  column_1 column_2
a        1       11
b        2      100
c     1001     1002
d      0.1      0.2
e     1003     1004