In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.Series([1,2,3,4,5])

In [3]:
data

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
data.values

array([1, 2, 3, 4, 5])

In [5]:
data.index

RangeIndex(start=0, stop=5, step=1)

In [6]:
## インデックスからデータにアクセスする

In [7]:
data[0]

1

In [8]:
data[1:3]

1    2
2    3
dtype: int64

## インデックスを文字にする

In [9]:
data = pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])

In [10]:
data

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [11]:
data['c']

3

In [12]:
data = pd.Series(dict(a=1, b=2, c=3, d=4, e=5))

In [13]:
data

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [14]:
data = pd.Series({'a':1, 'b':2, 'c':3, 'd':4, 'e':5})

In [15]:
data['c']

3

In [16]:
data['b':'d']

b    2
c    3
d    4
dtype: int64

In [17]:
series_1 = pd.Series(dict(a=1, b=2, c=3, d=4, e=5))

In [18]:
series_2 = pd.Series(dict(a=11, b=12, c=13, d=14, e=15))

In [19]:
df = pd.DataFrame({'column_1':series_1, 'column_2':series_2})

In [20]:
df

   column_1  column_2
a         1        11
b         2        12
c         3        13
d         4        14
e         5        15

In [21]:
df.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [22]:
df.columns

Index(['column_1', 'column_2'], dtype='object')

In [23]:
df['column_1']

a    1
b    2
c    3
d    4
e    5
Name: column_1, dtype: int64

In [24]:
df['a']

KeyError: 'a'

In [ ]:
df['column_1']['a']

1

In [27]:
df2 = pd.DataFrame([[1,2],[11,12], [21, 22]], index=['a', 'b', 'c'], columns=['col_1', 'col_2'])

In [28]:
df2

   col_1  col_2
a      1      2
b     11     12
c     21     22

In [ ]:
df.at['a', 'column_1']

1

In [ ]:
df.at['b', 'column_2'] = 100

In [ ]:
df

   column_1  column_2
a         1        11
b         2       100
c         3        13
d         4        14
e         5        15

In [ ]:
df.iat[2, 0]

3

In [ ]:
df.iat[3, 1] = 1000

In [ ]:
df

   column_1  column_2
a         1        11
b         2       100
c         3        13
d         4      1000
e         5        15

In [ ]:
df.loc['b':'d', 'column_1']

b    2
c    3
d    4
Name: column_1, dtype: int64

In [ ]:
df.loc['d':'e', 'column_1':'column_2'] = [[0.1, 0.2], [0.3, 0.4]]

In [ ]:
df

  column_1 column_2
a        1       11
b        2      100
c        3       13
d      0.1      0.2
e      0.3      0.4

In [ ]:
df.iloc[[1,3], [0, 1]]

  column_1 column_2
b        2      100
d      0.1      0.2

In [ ]:
df.iloc[[2,4],[0,1]] = [[1001,1002],[1003,1004]]

In [ ]:
df

  column_1 column_2
a        1       11
b        2      100
c     1001     1002
d      0.1      0.2
e     1003     1004

In [25]:
df.to_csv('df_data.csv')

In [ ]:
pip install openpyxl

In [31]:
df2.to_excel('df2_data.xlsx')

In [33]:
df3 = pd.read_csv('df_data.csv')

In [34]:
df3

  Unnamed: 0  column_1  column_2
0          a         1        11
1          b         2        12
2          c         3        13
3          d         4        14
4          e         5        15

In [35]:
df4 = pd.read_csv('df_data.csv', index_col=0)

In [36]:
df4

   column_1  column_2
a         1        11
b         2        12
c         3        13
d         4        14
e         5        15

### エクセルデータの読み込みは？
#### 参考URL:https://note.nkmk.me/python-pandas-read-excel/

In [38]:
df5 = pd.read_excel('df2_data.xlsx', index_col=0)

In [39]:
df5

  Unnamed: 0  col_1  col_2
0          a      1      2
1          b     11     12
2          c     21     22